*{
	padding: 0;
	margin: 0;	
	font-family: 'Lato', sans-serif;
}

div {
	box-sizing: border-box;
}

.container {
	width: 1420px;
	margin: 0 auto;
	border: 1px solid red;
}

nav {
	background: #eef2f2;
	height: 96px;
	position: fixed;
	z-index: 3;
	top: 0px;
	left: calc(50% - 710px);
}

nav > img {
	margin: 14px 155px 17px 138px;
	float: left;
}

nav ul {
	float: left;
	padding-top: 35px;
}

nav ul li {
	list-style: none;
	display: inline;
	margin: 0 22px;    
	font-size: 25px
}

nav ul li a{
	text-decoration: none;
	color: #010101;
}

#menu {
	padding: 29px 100px 0 0;
	float: right;
}

#menu a {
	font-size: 25px;
	color: #040404;
	padding: 0 15px;
}

nav ul li a:hover{
	color: #f20000;	
	transition: all 0.5s ease;
}

#menu a:hover{
	color: #f20000;
	transition: all 0.5s ease;
}

.first_page {
	margin-top: 96px; 
	background: url(../img/background_1.png) no-repeat center top / cover;
	height: 800px;
}

.title_first {
	padding-top: 270px;
	padding-left: 140px;	
}

.title_first h1 {
	color: #ffffff;
	font-size: 45px;
	font-weight: lighter;
	text-transform: uppercase;
	padding-bottom: 22px;
}

.title_first h2 {
	color: #ffffff;
	font-size: 72px;
	text-transform: uppercase;
	padding: 22px 0 50px 0;
}

.button a{
	display: block;
	font-size: 25px;
	font-weight: bold;
	color: #000000FF;
	background: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	width: 173px;
	padding: 24px 0;
	box-shadow: 18px 22px 0 #e8fd37;
}

.button a:hover{
	color: #f20000;
	transition: all 0.5s ease;
}

#b1 a {

}


.second_page {	
	background: #f1f7fa;
	height: 2450px;
}

.title {
	width: 750px;
	margin: 0 auto;
}

.title h1 {
	font-weight: bold;
	font-size: 55px;
	text-transform: capitalize;
	text-align: center;
	color: #010101;
	padding-top: 100px;
}

.title p {
	font-size: 30px;
	color: #6a6666;
	text-align: center;
	padding-top: 50px;
}

.work {		
	width: 370px;	
}

.work img {
	position: relative;
	z-index: 1;
}

.work div {
	position: relative;
	top: -20px;
	width: 300px;
	height: 200px;
	background: #e3e9eb;
	box-shadow: 0px 3px 20px 10px #A0A0A0;
	margin: 0 auto;
	z-index: 2;
	text-align: left;
}

.work h1 {
	font-weight: bold;
	font-size: 20px;
	color: #000000;	
	padding: 25px 0 20px 25px;
}

.work p {
	font-size: 16px;
	color: #000000;
	padding: 0 0 15px 25px;
}

.work a {
	display: block;
	padding: 5px;
	width: 72px;
	font-size: 16px;
	text-decoration: none;
	color: #000000FF;
	font-weight: bold;
	margin-left: 20px;
	background: #e8fd37;
}

.work a:hover{
	color: #f20000;
	transition: all 0.5s ease;
}

.container_inner {
	width: 1170px;
	margin: 0 auto;
}

#w1{	
	float: left;
	margin-top: 50px;
	margin-bottom: 100px;
}

#w2{	
	float: left;	
	margin: 50px 0 100px 30px;	
}

#w3{	
	float: right;
	margin-top: 50px;
	margin-bottom: 100px;
}

#projects img:nth-child(1){	
	float: left;
	margin-top: 50px;
	margin-bottom: 25px;
}

#projects img:nth-child(2){	
	float: left;
	margin: 50px 0 25px 26px;	
}

#projects img:nth-child(3){	
	float: right;
	margin-top: 50px;
	margin-bottom: 25px;
}

#projects img:nth-child(4){	
	float: left;	
	margin-top: 50px;
}

#projects img:nth-child(5){	
	float: left;
	margin-top: 50px;
	margin-left: 26px; 
}

#projects img:nth-child(6){	
	float: right;	
	margin-top: 50px;
}

#b2 a {
	float: left;	
	margin: 35px 0 0 490px;
}

.clearfix{
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

#customers_slider {
	padding-top: 50px;
	width: 380px;
	margin: 0 auto;
	position: relative;
}

.page {	
	width: 370px;
	height: 202px;
	background-color: #3d3d3f;	
}

.page img {
	float: left;
}

.page p {
	float: left;
	font-size: 15px;
	line-height: 1.4;
	color: #fffcfc;
	width: 205px;
	padding: 18px 0 0 12px;
}

.page h1 {
	float: left;
	font-size: 15px;
	color: #e8fd37;
	width: 205px;
	padding: 24px 0 0 12px;
}

.page h2 {
	float: left;
	font-size: 12px;
	font-weight: normal;
	color: #fffefe;
	width: 205px;
	padding-left: 142px;
}

.page {
	float: left;
	width: 25%;	
}

#slides {
	background: #FFFFFFFF;
	padding: 5px;
	box-shadow: 2px 2px 4px #000000FF, inset 1px 1px 0 #e8fd37;
	border-radius: 5px;
}

.inner {
	width: 400%;
}

.inner:after {
	content: '';
	display: block;
	height: 0;
	clear: both;
}

#overflow {
	overflow: hidden;
}

#customers_slider input {
	display: none;
}

#controls label {
	display: none;
	opacity: 0.3;
	cursor: pointer;
}

#controls label:hover {
	opacity: 0.8;
}

#controls {
	position: absolute;
	width: 100%;
	top: 135px;
}

/*создаём стрелку справа*/
#slide1:checked ~ #controls label:nth-child(2), 
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(1){
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-left: 20px solid #333;
	border-bottom: 20px solid transparent;
	float: right;
	margin-right: -30px;
	display: block;
}

/*создаём стрелку слева*/
#slide1:checked ~ #controls label:nth-child(3), 
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2){
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-right: 20px solid #333;
	border-bottom: 20px solid transparent;
	float: left;
	margin-left: -27px;
	display: block;
}

/*Создаем перелистывание картинок*/
#slide1:checked ~ #slides .inner {margin-left: 0;}
#slide2:checked ~ #slides .inner {margin-left: -100%;}
#slide3:checked ~ #slides .inner {margin-left: -200%;}

/*Создаём кнопки под слайдером*/
#active {
	text-align: center;
	margin-top: 10px;
}

#active label {
	width: 15px;
	height: 15px;
	background: #3d3d3f;
	display: inline-block;
	border-radius: 100%;
}

#active label:hover {
	box-sizing: inherit;
	cursor: pointer;	
	background: #e8fd37;
	border: 2px solid #000000;	
	transition: all 0.5s ease;
}

#sofa {
	background: url(../img/bar_sofa.png) no-repeat center top / cover;
	height: 160px;
}

#director {
	background: #d9e858;
	height: 400px;
}

#director img {
	float: left;
	padding: 55px 0 0 155px;
}

#director div {
	float: left;
	width: 820px;
	padding: 100px 0 0 30px;
}

#director p {
	font-size: 28px;
	line-height: 1.4;
}

#director h1 {
	font-size: 22px;
	padding-top: 25px;
}

#director h2 {
	font-size: 18px;
	font-weight: normal;
}

#talk {
	background: #ffffff;
	height: 760px;
}

#talk_form {
	border: 2px solid blue;
	text-align: center;
}

#b3 {
	padding-top: 35px;
	padding-left: 635px;
}